:root {
  /*=== colors ===*/
  --background: #060d1f;
  --backgroundtrans: rgba(6, 13, 31, 0.788);
  --white: #ffffff;
  --azulcl: #00daff;
  /*=== fonts ===*/
  font-size: 100%;
  --font: "Oxanium", cursive;
}

/*=== Initial === */
* {
  font: bold 1.5rem var(--font);
  color: var(--background);

  list-style-type: none;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  /*background-image: url("/img/planets.png");*/
  background-repeat: no-repeat;
  background-size: contain;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container {
  position: relative;
  display: flex;
  padding: 40px;
  max-width: 1200px;
  width: 95%;
  min-width: 300px;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  backdrop-filter: blur(20px);
  border-radius: 14px;
}
.box {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text > p:nth-child(1) {
  font-size: 4rem;
}
.text > p:nth-child(2) {
  font-size: 4rem;
  letter-spacing: 0.35em;
}
.text > p:nth-child(3) {
  font-size: 1.5rem;
  margin-bottom: 50px;
}
.text > .tag > img {
  width: 100px;
}
/*=== Form === */
form {
  max-width: 660px;
  border-radius: 15px;
}

form > input {
  border: 3px solid var(--background);
  border-radius: 10px;
  height: 40px;
  width: 100%;

  background-color: transparent;
  padding: 5px;
  font: 0.8rem var(--text);
  font-size: 1rem;
  box-sizing: border-box;
  margin: 0 0 20px;
}

form > button {
  width: 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: var(--background);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
}
button:hover {
  background-color: var(--backgroundtrans);
}
label.news {
  font-size: 1rem;
}
input::placeholder {
  color: var(--background);
  font-size: 1rem;
  font-weight: bold;
}
.tag {
  width: 100%;
  display: flex;
  justify-content: center;
}
.tag > img:nth-child(1) {
  top: -40px;
  margin-left: 40px;
  position: absolute;
  height: 210px;
}
.tag > img {
  margin: 40px auto;
  height: 500px;
}
.efeito {
  position: absolute;
  height: 90%;
  width: 90%;
  background-image: url("/img/planets.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto auto;
  animation: planetas 20s ease-in-out infinite;
}
/*=== Animation === */
.tag > img:nth-child(2):hover {
  animation: rotaciona 5s ease-out infinite;
}

.container {
  animation: entrada 2s ease-in-out 1;
}

@keyframes entrada {
  0% {
    transform: translateX(-1500px);
  }
  50% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes planetas {
  0% {
    transform: rotateZ(8deg) translateX(0px);
  }

  50% {
    transform: rotateZ(-8deg) translateX(30px);
  }
  100% {
    transform: rotateZ(8deg) translateX(0px);
  }
}
@keyframes rotaciona {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(50px) rotateZ(-20deg);
  }
  100% {
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 1100px) {
  .tag {
    width: 0;
  }

  .tag > img {
    width: 0;
  }
  .container {
    justify-content: center;
  }
}
@media only screen and (max-width: 700px) {
  :root {
    font-size: 60%;
  }
  * {
    font-size: 2rem;
  }
  .text > p:nth-child(3) {
    font-size: 2rem;
    margin: 30px 0;
  }

  form > input {
    font-size: 1.5rem;
  }

  label.news {
    font-size: 1.5rem;
  }
  input::placeholder {
    color: var(--background);
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 450px) {
  :root {
    font-size: 40%;
  }
  * {
    font-size: 2rem;
  }
  .text > p:nth-child(3) {
    font-size: 2rem;
    margin: 30px 0;
  }

  form > input {
    font-size: 2rem;
  }

  label.news {
    font-size: 2rem;
  }
  input::placeholder {
    color: var(--background);
    font-size: 2rem;
  }
}
